@font-face {
    font-family: 'BHoma';
    src: url('../fonts/BHoma.eot?#') format('eot'), /* IE6–8 */
         url('../fonts/BHoma.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/BHoma.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body, h1, h2, h3, h4, h5, h6, p, .site-name, .site-name-info, ul, li, .menu-1, a,
input[type="submit"], input[type="email"], input[type="text"], .display-tc, .btn, span, .tooltip {
    font-family: BHoma, Arial, Helvetica, sans-serif !important;
    letter-spacing: normal !important;
}

.amin > tbody > tr > td {
    vertical-align: middle;
}