
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../images/img_bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1 style="margin-top:300px">تماس با ما</h1>
                        <h2>راه های دسترسی به ما را تماشا میکنید.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-1 animate-box">

                <div class="fh5co-contact-info">
                    <h3>راه های دسترسی به ما</h3>
                    <ul>
                        <li>آدرس :تهران جنت اباد شمالی <br></li>
                        <li>شماره تماس :<a href="tel://09384336559">************</a></li>
                        <li>پست الکترونیک :<a href="mailto:hosseinas1204@gmail.com">hosseinas1204@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <h3 class="dir-rtl">برای ما نظر خود را ارسال کنید</h3>
                <form action="#">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <!-- <label for="fname">First Name</label> -->
                            <input type="text" id="fname" class="form-control dir-rtl" placeholder="نام">
                        </div>
                        <div class="col-md-6">
                            <!-- <label for="lname">Last Name</label> -->
                            <input type="text" id="lname" class="form-control dir-rtl" placeholder="نام خانوادگی">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="email">Email</label> -->
                            <input type="text" id="email" class="form-control dir-rtl" placeholder="ایمیل ادرس شما">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="subject">Subject</label> -->
                            <input type="text" id="subject" class="form-control dir-rtl" placeholder="عنوان پیام">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="message">Message</label> -->
                            <textarea name="message" id="message" cols="30" rows="10" class="form-control dir-rtl" placeholder="نظره خود را بنویسید"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ارسال نظر" class="btn btn-primary dir-rtl">
                    </div>
                </form>
                <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co-staff">
                        <img src="~/images/person-1.jpg" alt="Free HTML5 Templates by gettemplates.co">
                        <h3>مشخصات طراح:</h3>
                        <strong class="role" style="color:black" style="font-weight:bold">حسین اسدی مجیدآباد</strong>
                        <p style="font-weight:bold">شماره دانشجویی:</p>	9211213515
                        <p style="margin-top:10px"><strong>استاد راهنما : امیرمهدی هدایت فر</strong></p>
                        <p>ترم پاییز</p>مهر 96


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

