
@{
    ViewBag.Title = "شرایط و راهنما";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../images/gallery3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1 style="margin-top:170px">شرایط و راهنما</h1>
                        <h2>در این قسمت شرایط و راهنمای سایت را میتوانید ببینید</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-about">
    <div class="container">
        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-6">
                    <div class="desc">
                        <h3>به نام خدا</h3>
                        <p>با شکر خداوند متعال که مرا در ساخت این پروژه یاری نموده و از کمک های استاد گرامی جناب آقای
                        <p>
                            <strong style="color:red">هدایت فر</strong> که در این راه برای به اتمام رسیدن
                            بسیار کمک نمودن تشکر کنم.
                        </p></p>
                        <p>این سایت تابع قوانین جمهوری اسلامی بوده و در راستای کمک به خرید و فروش برای شما عزیزان طراحی و ساخته شده </p>
                    </div>
                    <div class="desc">
                        <h3 style="color:red">تذکر بسیار مهم</h3>
                        <p>
                            شماره هایی که در این سایت قرار گرفته صرفا شماره های به صورت رندم و تصادفی بوده و صحت و وجوده خارجی نداشته و مزاحمت برای این
                            اشخاص پیگرد قانونی دارد.
                        </p>
                        <p>طراحی و ساخت این سایت توسط دانشجوی رشته ی کامپیوتر دانشگاه تهران جنوب بوده و کپی برداری از آن پیگرد قانونی دارد.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="~/images/img_bg_1.jpg" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>

