
@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(images/img_bg_4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">800 میلیون</span>
                                <h2>آوودی</h2>
                                <p>
                                    مژده برای آوودی دوستان عزیز
                                    ماشین لوکس آوودی بسیار شیک و زیبا با فول امکانات با قیمت استثنایی 800.000.000 میلیون تومان

                                <p>  <span style="font-weight: bold">شماره تماس:</span>09121111111</p>
                                </p>
                                <p><a href="#" class="btn btn-primary btn-outline btn-lg">همین الان بخرید</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_2.jpg);">
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">500 میلیون</span>
                                <h2>فراری</h2>
                                <p>
                                    مژده برای علاقمندان خوردرو های فراری
                                    ماشین لوکس فراری بسیار شیک و زیبا با فول اسپورت فول امکانات با قیمت استثنایی 500.000.000 میلیون تومان
                                <p>  <span style="font-weight: bold">شماره تماس:</span>09121111111</p>
                                </p>
                                <p><a href="#" class="btn btn-primary btn-outline btn-lg">همین الان بخرید</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_1.jpg);">
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">450 میلیون</span>
                                <h2>اتومبیل اسپورت</h2>
                                <p>
                                    فروش استثنایی ماشین فول اسپورت ساخت کشور آمریکا برای دوستان عزیز با قیمت عالی و بینظیر برای شما فراهم کردیم
                                    فقط 450.000.000 میلیون تومان
                                <p>  <span style="font-weight: bold">شماره تماس:</span>09121111111</p>
                                </p>
                                <p><a href="#" class="btn btn-primary btn-outline btn-lg">همین الان بخرید</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_3.jpg);">
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">100 میلیون</span>
                                <h2>پورشه</h2>
                                <p>
                                    مژده برای پورشه دوستان عزیز
                                    ماشین لوکس پورشه بسیار شیک و زیبا با فول امکانات با قیمت استثنایی 100.000.000 میلیون تومان
                                <p>  <span style="font-weight: bold">شماره تماس:</span>09121111111</p>
                                </p>
                                <p><a href="#" class="btn btn-primary btn-outline btn-lg">همین الان بخرید</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>