
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../images/gallery3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1 style="margin-top:170px">انتخاب نوع آگهی</h1>
                        <h2>نوع آگهی خود را مشخص کنید</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row" style="margin: 2px;">
    <div class="col-sm-4" >
        <a href="@Url.Action("Product")" style="color: dimgray">
            <span  style="font-size: 10em;color: black"><i class="fa fa-car"></i></span>
            آگهی وسایل نقلیه
        </a>
    </div>
    <div class="col-sm-4" >
        <a href="" style="color: dimgray">
            <span style="font-size: 10em; color: black"><i class="fa fa-briefcase "></i></span>
        آگهی خدمات
        </a>
</div>
    <div class="col-sm-4" >
        <a href="" style="color: dimgray">
            <span style="font-size: 10em;color: black"><i class="fa fa-id-card"></i></span>
            آگهی خدمات
        </a>
    </div>
</div>

